<!doctype html>
<html lang="en" ng-app="MyRecipeBoxes">
<head>
	<meta charset="UTF-8">
	<title>MyRecipeBoxes</title>

	<!-- Angular -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.js"></script>

	<!-- Firebase -->
	<script src="//cdn.firebase.com/v0/firebase.js"></script>
	<script type='text/javascript' src='//cdn.firebase.com/v0/firebase-simple-login.js'></script>

	<!-- AngularFire -->
	<script src="//cdn.firebase.com/libs/angularfire/0.6.0/angularfire.js"></script>
	<script type="text/javascript" src="js/libs/FireLogin.js"></script>
	<script type="text/javascript" src="js/libs/ui-bootstrap-collapse-0.10.0.min.js"></script>

	<!-- App -->
	<script type="text/javascript" src="js/app.min.js"></script>

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/app.css">

</head>
<body>
	<header class="navbar navbar-default">
		<div class="container">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#/">My Recipe Box.es</a>
			  </div>
			  <div collapse="isCollapsed">
				<a href="#/login" class="navbar-link navbar-text pull-right" ng-hide="user">Login</a>
				<span ng-show="user" class="navbar-text pull-right">Hello {{user_info.first_name}} | <a href="#" class="navbar-link" ng-click="logout()">Logout</a></span>
			</div>
		</div>
	</header>
	<div class="container" ng-view></div>
</body>

</html>