<h1>Welcome to My Recipe Box.es!</h1>
<p>A simple tool to store and manage your recipes.</p>
<form ng-submit="create_user()" name="signup" class="well clearfix">
	<h2>Signup</h2>
	<div class="form-group">
		<p class='error' ng-show="user_form.error">{{user_form.error}}</p>
	</div>
	<div class="form-group">
		<label class="control-label">First Name:</label>
		<input class="form-control" name="first_name" ng-model="user_form.first_name" type="text" required />
		<div ng-show="signup.first_name.$dirty && signup.first_name.$invalid">
			<p class='error' ng-show="signup.first_name.$error.required">First Name is required</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Last Name:</label>
		<input class="form-control" name="last_name" ng-model="user_form.last_name" type="text" required />
		<div ng-show="signup.last_name.$dirty && signup.last_name.$invalid">
			<p class='error' ng-show="signup.last_name.$error.required">Last Name is required</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Email:</label>
		<input class="form-control" name="email" ng-model="user_form.email" type="email" required />
		<div ng-show="signup.email.$dirty && signup.email.$invalid">
			<p class='error' ng-show="signup.email.$error.required">Email is required</p>
			<p class='error' ng-show="signup.email.$error.email">Email is not Valid</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Password:</label>
		<input class="form-control" name="password" ng-model="user_form.password" type="password" required ng-minlength="6" />
		<div ng-show="signup.password.$dirty && signup.password.$invalid">
			<p class='error' ng-show="signup.password.$error.required">Password is required</p>
			<p class='error' ng-show="signup.password.$error.minlength">Password is to short</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Confirm Password:</label>
		<input class="form-control" name ="confirm" ng-model="user_form.confirm" ng-change="validatePassword()" type="password" required />
		<div ng-show="signup.confirm.$dirty && signup.confirm.$invalid">
			<p class='error' ng-show="signup.confirm.$error.required">Confirm Password is required</p>
			<p class='error' ng-show="signup.confirm.$error.notMatching">Passwords do not match</p>
		</div>
	</div>
	<div class="form-group">
		<input class="btn btn-primary pull-right" type="submit" ng-disabled="signup.$invalid" value="sign up" />
	</div>
</form>
