<form ng-submit="login()" name="login_form" class="well clearfix">
	<h2>Login</h2>
	<div class="form-group">
		<p class='error' ng-show="user_form.error">{{user_form.error}}</p>
	</div>

	<div class="form-group">
		<label class="control-label">Email:</label>
		<input class="form-control" name="email" ng-model="user_form.email" type="email" required />
		<div ng-show="login_form.email.$dirty && login_form.email.$invalid">
			<p class='error' ng-show="login_form.email.$error.required">Email is required</p>
			<p class='error' ng-show="login_form.email.$error.email">Email is not Valid</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Password:</label>
		<input class="form-control" name="password" ng-model="user_form.password" type="password" required ng-minlength="6" />
		<div ng-show="login_form.password.$dirty && login_form.password.$invalid">
			<p class='error' ng-show="login_form.password.$error.required">Password is required</p>
			<p class='error' ng-show="login_form.password.$error.minlength">Password is to short</p>
		</div>
	</div>

	<div class="form-group">
		<input class="btn btn-primary pull-right" type="submit" ng-disabled="login_form.$invalid" value="sign up" />
	</div>
</form>
