<p><a href="#/">Boxes</a> > {{box.title}}</p>

<div class="navbar">
	<h2 class="pull-left navbar-text">{{box.title}}</h2>
		<a href="#/boxes/{{box_$id}}/recipes/create" class="btn btn-success navbar-btn pull-right" ng-show="box.user_id==user.uid"> <i class="glyphicon glyphicon-plus"></i> Add New Recipe</a>
</div>

<div class="list-group">
	<a href="#/boxes/{{box_$id}}/recipes/{{$id}}" ng-repeat="($id,recipe) in box.recipes" class="list-group-item">{{recipe.title}}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
</div>
