<form name="createrecipe">
	<label>Title</label>
	<input type="text" ng-model="recipe.title" />
	<div ng-repeat="ingred in recipe.ingredients">
		<label>Size:</label>
		<input type="text" ng-model="recipe.ingredients[$index].size" />
		<label>Ingredient:</label>
		<input type="text" ng-model="recipe.ingredients[$index].food">
	</div>
	<a href="" ng-click="add_ingred()">Add ingredients</a>

	<div>
		<label>Pre-heat Oven To (optional):</label>
		<input type="text" ng-model="recipe.preheat">
	</div>

	<div>
		<label>Directions:</label>
		<textarea ng-model="recipe.directions" id="" cols="30" rows="10"></textarea>
	</div>

	<input type="submit" ng-disabled="createbox.$invalid" ng-click="create_recipe()" value="Create Recipe" />
</form>

