<form name="createrecipe" class="well">
	<div class="form-group">
		<label class="control-label">Title</label>
		<input type="text" class="form-control" ng-model="recipe.title" />
	</div>
	<div class="form-group row" ng-repeat="ingred in recipe.ingredients">
		<div class="col-md-6">
			<label class="control-label">Size:</label>
			<div class="row">
				<div class="col-xs-6">

					<input class="form-control" type="text" ng-model="recipe.ingredients[$index].size" />
				</div>
				<div class="col-xs-6">
				<select  class="form-control">
					<option ng-repeat="option in sizes">{{option}}</option>
				</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<label class="control-label">Ingredient:</label>
			<input class="form-control" type="text" ng-model="recipe.ingredients[$index].food">
		</div>
	</div>
	<div class="form-group clearfix">
		<a href="" class="btn btn-primary pull-right" ng-click="add_ingred()">Add Ingredient</a>
	</div>
	<div class="form-group">
		<label class="control-label">Pre-heat Oven To (optional):</label>
		<input type="text" ng-model="recipe.preheat" class="form-control" />
	</div>

	<div class="form-group">
		<label class="control-label">Directions:</label>
		<textarea ng-model="recipe.directions" id="" cols="30" rows="10" class="form-control"></textarea>
	</div>

	<input type="submit" ng-disabled="createbox.$invalid" ng-click="create_recipe()" value="Create Recipe" />
</form>

